{% extends 'base.html' %}

{% block title %}
    {% if object %}Editar Categoría{% else %}Nueva Categoría{% endif %}
{% endblock %}

{% block content %}
<h1>
    {% if object %}
        <i class="bi bi-pencil-square"></i> Editar Categoría
    {% else %}
        <i class="bi bi-plus-circle"></i> Nueva Categoría
    {% endif %}
</h1>

<div class="card shadow-sm mt-4">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <hr>
            <button type="submit" class="btn btn-success">Guardar Categoría</button>
            <a href="{% url 'inventario:categorias' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %} 